.form__success
{
    border: #109be7 1px solid;
    color: #109be7;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.form__error
{
    border: #d50000 1px solid;
    color: #d50000;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.add_cart input
{
    border: 1px gray solid;
}

.add_shipping_field_custom input
{
    border: 1px gray solid;
}

.product__description
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#filterShowMoreType {
    color: #57606f;
}

.shop-categories__item {
    width: calc((100% / 2) - 15px);

@media screen and (max-width: 767px) {
    width: calc((100% / 2) - 10px);
}

@media screen and (max-width: 575px) {
    width: 100%;
}
}
.order-received-section .woocommerce {
  max-width: 100% !important;	
}
.woocommerce-page .woocommerce-thankyou-order-received {
    font-size: 18px !important;
}
.woocommerce-table--order-details th {
    color: #57606F;
    font-weight: 400 !important;
}
.woocommerce-table--order-details td > a {
  color: red !important;
  font-weight: 700;
}
.woocommerce-customer-details .woocommerce-column--1, .woocommerce-customer-details .woocommerce-column--2 {
    max-width: 100% !important;
}